doctype html
html(lang='en')
  head
    title #{title}
    meta(name="description" content=description)
    meta(charset="UTF-8")
  
  body
    
    header
      p
        a(href="/") Home
        
    block page
      
    app-footer(generator=generator url=url)
    
    script(type="text/javascript")
      include ../../node_modules/riot/riot+compiler.min.js
      // TODO load prismic
    
    script(type="riot/tag" data-src="assets/main.tag.js")
      
      
    script.
      riot.mount('*')
      
